@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Roboto', sans-serif;
}

.header {
	background: #1F2937;
}

.header-navigation {
	display: flex;
	align-items: center;
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
}

.header-logo {
	text-decoration: none;
	margin-right: auto;
	font-size: 24px;
	color: #F9FAF8;
	font-weight: 700;
}


ul {
	list-style-type: none;
	display: flex;
	gap: 20px;
}

.header-link {
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}


.header-hero {
	display: flex;
	align-items: center;
	gap: 100px;
	padding: 100px 0;
	width: 80%;
	margin: 0 auto;
}

.header-hero-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.header-hero-title {
	font-size: 48px;
	color: #F9FAF8;
}

.header-hero-description {
	font-size: 18px;
	color: #E5E7EB;
}

.header-hero-placeholder {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background: grey;
	padding: 110px 0;
}

.header-hero-button {
	background: #3882F6;
	padding: 7px 28px;
	border: none;
	border-radius: 10px;
	color: #E5E7EB;
	font-size: 18px;
}


/*info*/

.info {
	width: 60%;
	margin: 0 auto;
}

.info-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	font-size: 36px;
	color: #1F2937;
}


.info-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.info-card {
	width: 157px;
}

.info-card-box {
	border: 4px solid #3882F6;
	border-radius: 16px;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
}

.info-card-text {
	text-align: center;
}

